<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
    and uncomment the following Encore helpers to start using Symfony UX #}

    <!-- Fontfaces CSS-->
    <link href="{{ asset('template/vendor/font-awesome-4.7/css/font-awesome.min.css') }}"
          rel="stylesheet" media="all">
    <link href="{{ asset('template/css/font-face.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('template/vendor/font-awesome-5/css/fontawesome-all.min.css') }}"
          rel="stylesheet" media="all">
    <link href="{{ asset('template/vendor/mdi-font/css/material-design-iconic-font.min.css') }}"
          rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->

    <link href="{{ asset('template/vendor/bootstrap-4.1/bootstrap.min.css') }}" rel="stylesheet"
          media="all">
    <!-- Vendor CSS-->
    <link href="{{ asset('template/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css') }}"
          rel="stylesheet" media="all">
    <link href="{{ asset('template/vendor/animsition/animsition.min.css') }}" rel="stylesheet"
          media="all">
    <link href="{{ asset('template/vendor/wow/animate.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('template/vendor/css-hamburgers/hamburgers.min.css') }}" rel="stylesheet"
          media="all">
    <link href="{{ asset('template/vendor/slick/slick.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('template/vendor/select2/select2.min.css') }}" rel="stylesheet"
          media="all">
    <link href="{{ asset('template/vendor/perfect-scrollbar/perfect-scrollbar.css') }}"
          rel="stylesheet" media="all">
    <link href="{{ asset('template/vendor/vector-map/jqvmap.min.css') }}" rel="stylesheet"
          media="all">

    <!-- Main CSS-->
    <link href="{{ asset('template/css/theme.css') }}" rel="stylesheet" media="all">

    {% block stylesheets %}
        {# {{ encore_entry_link_tags('app') }} #}

    {% endblock %}


</head>
<body>
<!-- HEADER DESKTOP-->
<header class="header-desktop2">

    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="header-wrap2">
                <div class="logo d-block d-lg-none">
                    <a href="http://localhost/suivistock/accueil.php">
                        <img src="{{ asset('template/images/icon/logo-white.png') }}"
                             alt="CoolAdmin"/>
                    </a>
                </div>
                <div class="header__navbar m-r-85">
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{ path('accueil') }}">
                                <button type="button" class="btn btn-primary">Accueil</button>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('cv_new') }}">
                                <button type="button" class="btn btn-primary">Postuler</button>
                            </a>
                        </li>
                        {% if not app.user %}
                            <li>
                                <a href="{{ path('connexion') }}">
                                    <button type="button" class="btn btn-primary">Se connecter</button>
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('cv_show',{'id': app.user.id }) }}">
                                    <button type="button" class="btn btn-primary">Mon cv</button>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('deconnexion') }}">
                                    <button type="button" class="btn btn-danger">Deconnexion</button>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="header-button-item mr-0 js-sidebar-btn">
                    <i class="zmdi zmdi-menu"></i>
                </div>
                <div class="setting-menu js-right-sidebar d-none d-lg-block">
                    <div class="account-dropdown__body">
                        <div class="account-dropdown__item">
                            <a href="#">
                                <i class="zmdi zmdi-account"></i>Account</a>
                        </div>
                        <div class="account-dropdown__item">
                            <a href="#">
                                <i class="zmdi zmdi-settings"></i>Setting</a>
                        </div>
                        <div class="account-dropdown__item">
                            <a href="#">
                                <i class="zmdi zmdi-money-box"></i>Billing</a>
                        </div>
                    </div>
                    <div class="account-dropdown__body">
                        <div class="account-dropdown__item">
                            <a href="#">
                                <i class="zmdi zmdi-globe"></i>Language</a>
                        </div>
                        <div class="account-dropdown__item">
                            <a href="#">
                                <i class="zmdi zmdi-pin"></i>Location</a>
                        </div>
                        <div class="account-dropdown__item">
                            <a href="#">
                                <i class="zmdi zmdi-email"></i>Email</a>
                        </div>
                        <div class="account-dropdown__item">
                            <a href="#">
                                <i class="zmdi zmdi-notifications"></i>Notifications</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>
<aside class="menu-sidebar2">
    <div class="logo">
        <a href="#">
            <img src="{{ asset('template/images/icon/logo-white.png') }}" alt="Cool Admin"/>
        </a>
    </div>
    <div class="menu-sidebar2__content js-scrollbar1" style="color: #e5e5e5">
        <nav class="navbar-sidebar2">
            <ul class="list-unstyled navbar__list">
                <li>
                    <a href="">
                        <i class="fas fa-home"></i>Accueil</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>

<div class="page-container">
    <div class="col-lg-8">
        {% block body %} {% endblock %}
    </div>
</div>
</body>

<!-- Jquery JS-->
<script src="{{ asset('template/vendor/jquery-3.2.1.min.js') }}"></script>
<!-- Bootstrap JS-->
<script src="{{ asset('template/vendor/bootstrap-4.1/popper.min.js') }}"></script>
<script src="{{ asset('template/vendor/bootstrap-4.1/bootstrap.min.js') }}"></script>
<!-- Vendor JS       -->
<script src="{{ asset('template/vendor/slick/slick.min.js') }}">
</script>
<script src="{{ asset('template/vendor/wow/wow.min.js') }}"></script>
<script src="{{ asset('template/vendor/animsition/animsition.min.js') }}"></script>
<script src="{{ asset('template/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js') }}">
</script>
<script src="{{ asset('template/vendor/counter-up/jquery.waypoints.min.js') }}"></script>
<script src="{{ asset('template/vendor/counter-up/jquery.counterup.min.js') }}">
</script>
<script src="{{ asset('template/vendor/circle-progress/circle-progress.min.js') }}"></script>
<script src="{{ asset('template/vendor/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
<script src="{{ asset('template/vendor/chartjs/Chart.bundle.min.js') }}"></script>
<script src="{{ asset('template/vendor/select2/select2.min.js') }}">
</script>
<script src="{{ asset('template/vendor/vector-map/jquery.vmap.js') }}"></script>
<script src="{{ asset('template/vendor/vector-map/jquery.vmap.min.js') }}"></script>
<script src="{{ asset('template/vendor/vector-map/jquery.vmap.sampledata.js') }}"></script>
<script src="{{ asset('template/vendor/vector-map/jquery.vmap.world.js') }}"></script>
<script src="{{ asset('template/js/recherche') }}"></script>
<script src="{{ asset('template/js/main.js') }}"></script>
{% block javascripts %}
    {# {{ encore_entry_script_tags('app') }} #}


{% endblock %}

</html>

